/*
 *= require_self
 *= require adminlte/AdminLTE.min.css
 *= require adminlte/skins/_all-skins.min
 *= require iCheck/skins/flat/_all
 *= require iCheck/skins/square/_all
 *= require font-awesome
 *= require nprogress
 *= require nprogress-bootstrap
 *= require nprogress-turbolinks5
 *= require_tree .
  */

@import "bootstrap-sprockets";
@import "bootstrap";

.img-circle{
  background: white;
}

/*
  Timeline
*/
line.timeline{
  stroke-width: 2px;
  stroke: #888;
}

circle.dot{
  fill: #222;
}

#tracks-view{
  position: fixed;
  height: auto;
  width: 100%;
  min-height: 150px;
  bottom: 0;
  background: #f4f4f4;
  z-index: 1000;
  border-top: 4px #ddd solid;
  text-align: center;

  #close-btn{
    margin-top: -20px;
    border: 0px;
    box-shadow: none;
    color: rgb(243, 156, 18);
    font-weight: 600;
    background: rgb(255, 255, 255);
}
}