<!DOCTYPE html>
<html>
<head>
  <title>RailsEndPoint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <script src="https://d3js.org/d3-polygon.v1.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<%= yield %>

</html>
